$button: hsl(212, 100%, 50%);

// Light Mode colors

$grey-text: hsl(217, 20%, 51%);
$links: hsl(217, 35%, 45%);
$light-mode-dark-text: hsl(217, 21%, 21%);
$light-mode-background: hsl(227, 100%, 98%);
$white: rgb(254, 254, 254);

// Dark Mode colors

$dark-mode-text: hsl(0, 0%, 100%);
$dark-mode-background: hsl(220, 40%, 13%);
$dark-blue: hsl(222, 41%, 20%);
